#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: large;
  text-align: left;
  --accent1: #773dbd;
  --accent2: #fee003;
}

/* generalized styling */
h2{
  font-size: 2rem;
  font-weight: 600;
}
h3{
  font-weight: 600;
}
section{
  z-index: 2;
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}
.btnContainer{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.btnContainer>*{
  flex: 1;
  max-width: 11rem;
}
button{
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 1rem 0.5rem;
  font-size: large;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
button:hover{
  background-color: var(--accent1);
  animation: jiggle 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate;
}
.fLeft{
  justify-content: flex-start;
}
.flexJustBet{
  display: flex;
  justify-content: space-between;
}
.yellow{
  background-color: var(--accent2)!important;
}
.purple{
  background-color: var(--accent1)!important;
}
/* Component styling */

/* card styling */
.cardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 0.5rem;
  margin-bottom: 5rem;
}
.cardTitle,.cardText,.cardImg{
  max-width: 90%;
  margin: 1rem auto;
}
.cardImg{
  display: flex;
  cursor: pointer;
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.cardImg:hover{
  transform: scale(1.05,1.05);
}

/*element specific styling */
/* nav */
.nav{
  z-index: 3;
  position: fixed;
  top: 25px;
  left: 90%;
  height: fit-content;
  width: auto;
  padding: 1rem;
}
.menuBtn{
  z-index: 4;
  position: relative;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.menuBtn:hover{
  transform: rotate(-45deg);
}
.menuBtn > div > svg{
  display: block;
  width: 4rem;
  height: min-content;
  transform: 0;
  opacity: 1;
  transition: all 400ms ease-in-out;
}
.menuBtn > div > svg:hover{
  animation: jiggle 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate;
}
.menuBtn > div > svg:active{
  opacity: 0;
}
.menu{
  position: fixed;
  top: 0;
  right: 0%;
  height: 0;
  width: 0;
  background-color: none;
  transition: all 1s ease-in-out;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 100%;
}
.menu.opened{
  height: 100svh;
  width: 100%;
  border-radius: 0;
  background-color: var(--accent1);
}
.linksContainer{
  position: fixed;
  display: grid;
  margin: 15% auto auto 60%;
  opacity: 0;
  transition: all s ease-out;
}
.menu.opened > .linksContainer{
  opacity: 1;
}
.linksContainer> *{
  height: 50vh;
}
.dotContainer{
  position: fixed;
}
.dotContainer> .dot{
  background-color: white!important;
  position: absolute;
  top: 10%;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navLinks{
  display: grid;
  width: min-content; 
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
.navLinks > a{
  color: white;
  text-decoration: none;
}
.navLinks > a:hover{
  animation: jiggle 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate;
}

/* HomeComponent */
/* home Section */
.logo{
  width: 10rem;
}
.home{
  text-align: center;
}
/* Rotating Svg */
.svgContainer{
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 50vh;
}
.svg{
  z-index: 1;
  width: 300px;
  animation: rotate 3s ease-in-out 3s infinite;
}
/* odd button style */
.oddBtn{
  background-color: transparent;
  color: #000;
  border: #000 solid 2px;
}
.oddBtn:hover{
  background-color: transparent;
  color: var(--accent1);
  border: var(--accent1) solid 2px;
  animation: jiggle 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate;
}
/* Image Slider styling */
.imageSlider{
  position: absolute;
  left: 0;
  display: flex;
  gap: 1rem;
}
.slideShowImg{
  margin: auto 0 0 0;
  width: 300px;
  height: fit-content;
  object-fit: cover;
}
.imageContainer{ 
  display: flex;
  gap: 1rem;
  animation: slide 25s linear 2s infinite backwards;
}

/* connect grid animation */
.container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.dot{
  background-color: grey;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  margin: auto;
}

/* Bar grid animation */
.wrapper{
  max-width: calc(1664px + 10%);
  height: 50vh;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  gap: 2rem;
}
.animations{
  display: grid;
  grid-template-columns:7% 7% 7% 7% 7% 7% 7% 7% 7% 7%;
  gap: 2rem;
  margin: auto;
}
.bar{
  background-color: grey;
  width: 5rem;
  height: 1rem;
  border-radius: 20px;
  margin: auto;
  transform: rotate(90deg);
}
.bar.rotate{
  transform: rotate(var(--angle));
}

/* Footer */
.callToAct{
  margin: 5rem auto;
}
/* Offices */
.office{
  max-width: 300px;
}
.officeLink{
  text-decoration: underline black 2px;
  text-underline-offset: 5px;
  color: black;
}

/* Animations */
/* Logo rotate */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* image slider */
@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-101%);
  }
}
/* buttons hover */
@keyframes jiggle {
  0%{
    transform: scale(0.95,0.95);
  }
  50%{
    transform: scale(1.05,1.05);
  }
  100%{
    transform: scale(1,1);
  }
}

/* 
@media only screen and (max-device-width : 1024px) {
  .fixed {
      position:fixed;
      top:0;
      left: 0;
  }
} */